body {
	margin: 0;
    width: 404px;
    height: 606px;
    padding-top: 20px;
}

canvas {
    -webkit-transform-origin: 202px;
    -moz-transform-origin: 202px;
    -ms-transform-origin: 202px;
    -o-transform-origin: 202px;
    transform-origin: 202px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}