﻿@font-face {
    font-family: 'bonvenocflight';
    src: url(font/bonvenocf-light/BonvenoCF-Light-webfont.eot);
    src: url(font/bonvenocf-light/BonvenoCF-Light-webfont.eot?#iefix) format('embedded-opentype'),
         url(font/bonvenocf-light/BonvenoCF-Light-webfont.woff) format('woff'),
         url(font/bonvenocf-light/BonvenoCF-Light-webfont.ttf) format('truetype'),
         url(font/bonvenocf-light/BonvenoCF-Light-webfont.svg#bonvenocflight) format('svg');
    font-weight: normal;
    font-style: normal;

}

.next-chapter-title-blank {
    display: none;
}

@media all {
    ::-webkit-scrollbar {
        display: none;
    }
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'bonvenocflight', sans-serif;
        font-size: 18px;
        line-height: 1.6em;
        text-align: center;
        color: #c4b7c8;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    img, div {
        border: 0;
        margin: 0;
        padding: 0;
    }

    div {
        display: block;
    }

    a {
        text-decoration: none;
        color: #c4b7c8;
    }

    h1, h2, h3, h4 {
        font-weight: normal;
    }

    h1 {
        font-size: x-large;
        line-height: 1.4em;
        margin: 10px 0 0 0;
        display: block;
    }

    h2 {
        line-height: 1.2em;
        margin: 15px 0 0 0;
        display: block;
    }

    img { 
        pointer-events: none;
    }
}
@media all {
    /* Main Menu */
    .main-nav {
        position: fixed;
        top: 0;
        width: 100%;
        height: 0;
        background: #e2dbe3;
        color: #221c24;
        font-size: 16px;
        overflow: auto;
        z-index: 2222;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .main-nav.show-main-nav {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        height: 100%;
    }

    .main-nav .top-panel {
        width: 100%;
        overflow: hidden;
        text-align: left;
        min-height: 50px;
    }

    /*  Top Panel */
    .main-nav .top-panel a#play, .main-nav .top-panel a#pause {
        text-decoration: none;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 24px;
        cursor: pointer;
        display: inline-block;
        padding: 15px 15px 15px 30px;
    }

    .main-nav::-webkit-scrollbar {
        display: none;
    }

    .main-nav .top-panel a#play:before {
        content: url("../image/sound_off.png");
        content: -webkit-image-set(url("../image/sound_off.png") 1x, url("../image/sound_off2x.png") 2x);
    }

    .main-nav .top-panel a#pause:before {
        content: url("../image/sound_on.png");
        content: -webkit-image-set(url("../image/sound_on.png") 1x, url("../image/sound_on2x.png") 2x);
    }

    .main-nav .top-panel a.toggle-menu {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 24px;
        cursor: pointer;
        display: inline-block;
        padding: 15px 30px 15px 15px;
    }

    .main-nav .top-panel a.toggle-menu:before {
        content: url("../image/close.png");
        content: -webkit-image-set(url("../image/close.png") 1x, url("../image/close2x.png") 2x);
    }

    /*  Nav Wrapper */
    .main-nav .navwrapper {
        text-align: left;
        margin: 0 auto;
        display: inline-block;
    }

    .main-nav .navwrapper a {
        color: #221c24;
        display: block;
    }

    .main-nav .navwrapper a:hover,.main-nav .navwrapper a:focus{
        color:#ff5b00;
    }
    
    .main-nav .navwrapper a.current{
        color:#ff5b00;
    }

    .main-nav .navwrapper span {
        display: inline-block;
        width: 40px;
    }

    .nav-chapter {
        cursor: pointer;
    }

}
@media all {
    /* Main Header */
    .main-header.menu {
        text-align: center;
        position: fixed;
        width: 100%;
        left: 0;
        top: -50px;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .main-header.menu .toggle-menu {
        padding-top: 0;
    }
    .main-header .toggle-menu {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 24px;
        cursor: pointer;
        display: inline-block;
        padding: 15px 30px 15px 15px;
    }

    .main-header .toggle-menu:before {
        padding: 0;
        content: url("../image/menu.png");
        content: -webkit-image-set(url("../image/menu.png") 1x, url("../image/menu2x.png") 2x);
    }

    .menu {
        right: 0;
        height: 50px;
        padding: 0;
        background-color: #0a090b;
        opacity: 0.85;
        color: #aaaaaa;
        font-size: 16px;
        line-height: 50px;
        z-index: 2;
    }

}
@media all {
    #chapter-header {
        position: absolute;
        z-index: 99;
        top: 100px;
        cursor: pointer;
    }

    div.chapter-title {
        padding: 10px 0 5px 0;
        display: block;
        margin: 0 auto;
        letter-spacing: 7px;
        text-transform: uppercase;
        font-size: 14px;
        text-align: center;
        width: 100%;
        line-height: 36px;
        background-color: #000;
        opacity: 0.9;
    }

    span.chapter-nr {
        font-size: 20px;
        margin: 0 0 12px 0;
        color: #ff5b00;
        display: block;
        line-height: 20px;
    }

    span.chapter-prefix {
        font-size: 14px;
        letter-spacing: 4px;
        margin: 0 0 12px 0;
        color: #ff5b00;
        display: block;
        line-height: 20px;
    }

    .chapter-arrow {
        margin: 9px 0 0 0;
        display: inline-block;
        width: 28px;
        height: 28px;
        line-height: 0;
    }

    .chapter-arrow-prefix {
        margin: 20px 0 0 0;
        display: inline-block;
        width: 28px;
        height: 28px;
        line-height: 0;
    }

    .chapter-arrow.down {
        margin: 10px 0 0 0;
    }

    .chapter-arrow.down:before {
        content: url("../image/arrow_down.png");
        content: -webkit-image-set(url("../image/arrow_down.png") 1x, url("../image/arrow_down2x.png") 2x);
    }

    .chapter-arrow-prefix.down:before {
        content: url("../image/arrow_down.png");
        content: -webkit-image-set(url("../image/play.png") 1x, url("../image/play2x.png") 2x);
    }
}
@media all {
    .chapter-image img {
        max-width: 100%;
        height: 100%;
        -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.75);
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.75);
    }

    .chapter-image {
        position: fixed;
        z-index: 0;
        top: 0;
        width:100%;
        height:100%;
        padding-bottom: 150px;

        background: url("../image/blank.jpg") top center no-repeat;
        background-size: cover;
    }
}
@media all {
    #main-content {
        font-family:'Merriweather', serif;
        position: absolute;
        top: 100px;
        width: 100%;
        z-index: 1;
    }

    .chapter-text {
        font-size: 16px;
        padding: 60px 25px 40px 25px;
        letter-spacing: 0.01em;
        
        display: block;
        text-align: left;
        color: #d7ccd0;
        margin: 0 auto 0 auto;
        background-color: #453748;
        opacity: 0.925;
    }

    .chapter-text i {
        font-weight: 600;
        padding-right: 10px;
    }

    .chapter-text div {
        max-width: 620px;
        margin: 0 auto;
    }

    .caps {
        font-size: 65px;
        display: inline-block;
        margin: 15px 10px 0 3px;
        font-weight: 300;
        float: left;
    }
    .choice-wrapper {
        max-width: 640px;
    }

    .choice {
        cursor: pointer;
        color: #d5cfe5;
        font-weight: 600;
        background-color: #4e485c;
        border-radius: 5px 5px 5px 5px;
        border: 2px solid #25232a;
    }
}

@media screen and (max-width: 640px)  {
    .chapter-text {
        
    }

    .chapter-text p {
        margin: 0 0 12px 0;
    }

    .choice-wrapper {
        margin: 0 0 20px 0 !important;
    }

    .choice {
        margin: 10px 0 10px 0 !important;
        padding: 5px 5px 5px 8px !important;
    }
    
}

@media screen and (min-width: 641px)  {
    .chapter-text {
        line-height: 40px;
    }

    .chapter-text p {
        margin: 0 0 22px 0;
    }

    .choice-wrapper {
        max-width: 640px !important;
        margin: 10px 20px 20px 10px !important;
    }

    .choice {
        margin: 10px 5px 10px 5px !important;
        padding: 5px 10px 5px 10px !important;
    }
}

@media screen and (max-width: 1024px) {
    .chapter-text {
        line-height: 35px !important;
    }
}

@media screen and (max-width: 640px) {
    .chapter-text {
        line-height: 30px !important;
    }
}
@media all {

    div.next-chapter-title {
        font-family: 'bonvenocflight', sans-serif;
        padding: 30px 0 10px 0;
        width: 100%;
        font-size: 14px;
        line-height: 36px;
        background-color: #000;
        opacity: 0.9;
        text-transform: uppercase;
        letter-spacing: 6px;
    }

    .next-chapter-title-blank {
        height: 102px !important;
    }

    .next {
        display: inline-block;
    }

    .chapter-arrow.next:before {
        content: url("../image/arrow_right.png");
        content: -webkit-image-set(url("../image/arrow_right.png") 1x, url("../image/arrow_right2x.png") 2x);
    }

}
@media all {
    #loader {
        position: fixed;
        z-index: 9999;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        background-image: url("../image/loading.gif");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 50px;
    }
}
